In [56]:
from pathlib import Path
import matplotlib.pyplot as plt
import matplotlib.colors as mcolors
from matplotlib.lines import Line2D
import seaborn as sns
sns.set_theme()
import pandas as pd
import numpy as np
import math

In [57]:
data_dir = Path(Path.home(), "Documents/xray/sample_bench/data/7mhf")
data_dir_arr = np.ndarray(shape=(4), dtype=Path)
data_dir_arr[0] = Path(data_dir, "166_N1")
data_dir_arr[1] = Path(data_dir, "167_N2")
data_dir_arr[2] = Path(data_dir, "168_N4")
data_dir_arr[3] = Path(data_dir, "169_N8")

score_df_arr = np.ndarray(shape=(4,6), dtype=pd.DataFrame)
names = ["7mhf", "7mhg", "7mhh", "7mhi", "7mhj", "7mhk"]
for i in range(4):
    for j in range(6):
        score_df_arr[i,j] = pd.read_csv(Path(data_dir_arr[i], "r_free_{}.csv".format(names[j])), index_col=0)

### Find best r-free

In [58]:
best_r_free_arr = np.ndarray(shape=(4,6), dtype=float)
for i in range(4):
    for j in range(6):
        score_df = score_df_arr[i,j]
        best_r_free_arr[i,j] = np.min(score_df["r_free_{}".format(names[j])])

In [59]:
best_r_free_df = pd.DataFrame(best_r_free_arr, columns=names)
best_r_free_df.head()

       7mhf      7mhg      7mhh      7mhi      7mhj      7mhk
0  0.324681  0.290859  0.226526  0.212712  0.234586  0.241803
1  0.301041  0.279868  0.196859  0.185406  0.205585  0.222415
2  0.292684  0.268758  0.184929  0.172232  0.189750  0.218474
3  0.291432  0.266248  0.164956  0.151458  0.168315  0.200645

In [60]:
best_r_free_df.to_csv(Path(Path.home(), "Documents/xray_ms/best_r_free.csv"))

In [108]:
def get_rgb(x, y):
    # Calculate the difference between x and y
    diff = x - y
    if y < x:
        scale = abs(diff) * 1000
        return 128, 180+scale, 128
    else:
        scale = abs(diff) * 1000
        return 128+scale, 128, 128

    return (red, green, 0)  # Return the RGB color


def rgb_to_hex(rgb):
    r, g, b = rgb
    # Ensure RGB values are within the valid range
    r = int(max(0, min(255, r)))
    g = int(max(0, min(255, g)))
    b = int(max(0, min(255, b)))

    # Convert to hexadecimal
    hex_color = "#{:02x}{:02x}{:02x}".format(r, g, b)
    return hex_color

In [109]:
colors_arr = np.ndarray(shape=(4,6), dtype=object)
orig_r_frees = [.22,.21,.25,.23,.24,.25]
for i in range(4):
    for j in range(6):
        print(i,j, orig_r_frees[j], best_r_free_arr[i,j])
        colors_arr[i,j] = rgb_to_hex(get_rgb(orig_r_frees[j], best_r_free_arr[i,j]))

pd.DataFrame(colors_arr).head()

0 0 0.22 0.3246810033758046
0 1 0.21 0.2908587514399037
0 2 0.25 0.2265259998095756
0 3 0.23 0.2127115452286923
0 4 0.24 0.2345861073846798
0 5 0.25 0.2418026091606503
1 0 0.22 0.3010414148009183
1 1 0.21 0.2798683665264518
1 2 0.25 0.1968589874453984
1 3 0.23 0.185405712711034
1 4 0.24 0.2055852162441297
1 5 0.25 0.222415413807293
2 0 0.22 0.2926838009855869
2 1 0.21 0.2687577766725684
2 2 0.25 0.1849287508195042
2 3 0.23 0.1722321131522732
2 4 0.24 0.1897495578609743
2 5 0.25 0.2184744014362902
3 0 0.22 0.2914322228624188
3 1 0.21 0.2662476614349756
3 2 0.25 0.1649556164117827
3 3 0.23 0.151458272490108
3 4 0.24 0.1683153300804082
3 5 0.25 0.2006452342149076

         0        1        2        3        4        5
0  #e88080  #d08080  #80cb80  #80c580  #80b980  #80bc80
1  #d18080  #c58080  #80e980  #80e080  #80d680  #80cf80
2  #c88080  #ba8080  #80f580  #80ed80  #80e680  #80d380
3  #c78080  #b88080  #80ff80  #80ff80  #80fb80  #80e580