In [2]:
from pathlib import Path 
import pandas as pd

In [3]:
df_1 = pd.read_csv(Path(Path.home(), "Documents/xray/decoys/data/7mhf/38_7mhf_decoys/rand_1000.csv"), index_col=0)
df_2 = pd.read_csv(Path(Path.home(), "Documents/xray/decoys/data/7mhf/39_7mhf_decoys_1000/rand_1000.csv"), index_col=0)

In [4]:
df_merge = pd.concat([df_1, df_2])
df_merge.head()

                                                   0
0  /wynton/group/sali/mhancock/xray/sample_bench/...
1  /wynton/group/sali/mhancock/xray/sample_bench/...
2  /wynton/group/sali/mhancock/xray/sample_bench/...
3  /wynton/group/sali/mhancock/xray/sample_bench/...
4  /wynton/group/sali/mhancock/xray/sample_bench/...

In [5]:
df_merge = df_merge.reset_index(drop=True)
df_merge.tail()

                                                      0
1995  /wynton/group/sali/mhancock/xray/sample_bench/...
1996  /wynton/group/sali/mhancock/xray/sample_bench/...
1997  /wynton/group/sali/mhancock/xray/sample_bench/...
1998  /wynton/group/sali/mhancock/xray/sample_bench/...
1999  /wynton/group/sali/mhancock/xray/sample_bench/...

In [6]:
df_merge.to_csv(Path(Path.home(), "Documents/xray/decoys/data/7mhf/38_7mhf_decoys/merge_2000.csv"))