In [11]:
from pathlib import Path
import pandas as pd
import numpy as np

In [2]:
cif_df = pd.read_csv(Path(Path.home(), "Documents/xray/dev/29_synthetic_native_3/data/cifs/csvs/7mhf_30.csv"), index_col=0)
cif_df.head()

,w_0_0,w_1_0,w_0_1,w_1_1,cif_0,ref_0,cif_1,ref_1
0,0.510588,0.489412,NaN,NaN,/wynton/home/sali/mhancock/xray/dev/29_synthet...,/wynton/home/sali/mhancock/xray/dev/29_synthet...,NaN,NaN
1,0.510588,0.489412,0.555566,0.444434,/wynton/home/sali/mhancock/xray/dev/29_synthet...,/wynton/home/sali/mhancock/xray/dev/29_synthet...,/wynton/home/sali/mhancock/xray/dev/29_synthet...,/wynton/home/sali/mhancock/xray/dev/29_synthet...
2,0.893325,0.106675,NaN,NaN,/wynton/home/sali/mhancock/xray/dev/29_synthet...,/wynton/home/sali/mhancock/xray/dev/29_synthet...,NaN,NaN
3,0.893325,0.106675,0.739213,0.260787,/wynton/home/sali/mhancock/xray/dev/29_synthet...,/wynton/home/sali/mhancock/xray/dev/29_synthet...,/wynton/home/sali/mhancock/xray/dev/29_synthet...,/wynton/home/sali/mhancock/xray/dev/29_synthet...
4,0.585996,0.414004,NaN,NaN,/wynton/home/sali/mhancock/xray/dev/29_synthet...,/wynton/home/sali/mhancock/xray/dev/29_synthet...,NaN,NaN

In [3]:
cif_df.tail()

,w_0_0,w_1_0,w_0_1,w_1_1,cif_0,ref_0,cif_1,ref_1
15,0.297701,0.702299,0.381031,0.618969,/wynton/home/sali/mhancock/xray/dev/29_synthet...,/wynton/home/sali/mhancock/xray/dev/29_synthet...,/wynton/home/sali/mhancock/xray/dev/29_synthet...,/wynton/home/sali/mhancock/xray/dev/29_synthet...
16,0.642393,0.357607,NaN,NaN,/wynton/home/sali/mhancock/xray/dev/29_synthet...,/wynton/home/sali/mhancock/xray/dev/29_synthet...,NaN,NaN
17,0.642393,0.357607,0.658773,0.341227,/wynton/home/sali/mhancock/xray/dev/29_synthet...,/wynton/home/sali/mhancock/xray/dev/29_synthet...,/wynton/home/sali/mhancock/xray/dev/29_synthet...,/wynton/home/sali/mhancock/xray/dev/29_synthet...
18,0.157278,0.842722,NaN,NaN,/wynton/home/sali/mhancock/xray/dev/29_synthet...,/wynton/home/sali/mhancock/xray/dev/29_synthet...,NaN,NaN
19,0.157278,0.842722,0.175792,0.824208,/wynton/home/sali/mhancock/xray/dev/29_synthet...,/wynton/home/sali/mhancock/xray/dev/29_synthet...,/wynton/home/sali/mhancock/xray/dev/29_synthet...,/wynton/home/sali/mhancock/xray/dev/29_synthet...

In [4]:
w_xray_df = pd.read_csv(Path(Path.home(), "Documents/xray/sample_bench/data/7mhf/186_w_xray_bench_ref_10000/best_w_xray.csv"), index_col=0)
w_xray_df.head()

,N,J,w_xray,r_free,w_0_0,ff,pdb,cif_0,r_free_1,cif_1,w_1_0
0,1.0,1.0,0.5,0.348626,1.0,1330.145531,/wynton/group/sali/mhancock/xray/sample_bench/...,/wynton/home/sali/mhancock/xray/dev/29_synthet...,NaN,NaN,NaN
1,1.0,1.0,0.5,0.236355,1.0,3981.376216,/wynton/group/sali/mhancock/xray/sample_bench/...,/wynton/home/sali/mhancock/xray/dev/29_synthet...,NaN,NaN,NaN
2,1.0,1.0,0.5,0.316355,1.0,1722.911988,/wynton/group/sali/mhancock/xray/sample_bench/...,/wynton/home/sali/mhancock/xray/dev/29_synthet...,NaN,NaN,NaN
3,1.0,1.0,0.5,0.318899,1.0,1858.696687,/wynton/group/sali/mhancock/xray/sample_bench/...,/wynton/home/sali/mhancock/xray/dev/29_synthet...,NaN,NaN,NaN
4,1.0,1.0,0.5,0.273582,1.0,1969.068131,/wynton/group/sali/mhancock/xray/sample_bench/...,/wynton/home/sali/mhancock/xray/dev/29_synthet...,NaN,NaN,NaN

In [19]:
w_xray_df_tmp = w_xray_df.copy()
w_xray_df_tmp.fillna(0, inplace=True)
cif_df_tmp = cif_df.copy()
cif_df_tmp.fillna(0, inplace=True)

In [24]:
input_df = pd.DataFrame()

input_id = 0
for N in [1, 2]:
    for j in range(20):
        input_df.loc[input_id, "N"] = N
        if j % 2 == 0:
            input_df.loc[input_id, "J"] = 1
        else:
            input_df.loc[input_id, "J"] = 2

        for col in ["cif_0", "cif_1", "ref_0", "ref_1", "w_0_0", "w_1_0", "w_0_1", "w_1_1"]:
            input_df.loc[input_id, col] = cif_df.loc[j, col]

        # print(cif_df.loc[j, "cif_0"], cif_df.loc[j, "cif_1"])
        w_xray_row = w_xray_df.loc[(w_xray_df_tmp["cif_0"] == cif_df_tmp.loc[j, "cif_0"]) & (w_xray_df_tmp["cif_1"] == cif_df_tmp.loc[j, "cif_1"]) & (w_xray_df_tmp["N"] == N)]
        w_xray = w_xray_row["w_xray"].values[0]
        # w_xray = w_xray_df.loc[input_id, "w_xray"]
        input_df.loc[input_id, "w_xray"] = w_xray

        input_id += 1

input_df["sample_sched_str"] = "step3000,T300,dofA,pdb1,w1,res2"
input_df["start_pdb_file"] = "/wynton/home/sali/mhancock/xray/data/pdbs/7mhf/7mhf_refine.pdb"

# input_df["N"] = input_df["N"].astype(int)

input_df.head()

/var/folders/x2/ss4b83151c31mg5h31tlp3ym0000gn/T/ipykernel_77736/64272720.py:13: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '/wynton/home/sali/mhancock/xray/dev/29_synthetic_native_3/data/cifs/7mhf_30/0/1.cif' has dtype incompatible with float64, please explicitly cast to a compatible dtype first.
  input_df.loc[input_id, col] = cif_df.loc[j, col]
/var/folders/x2/ss4b83151c31mg5h31tlp3ym0000gn/T/ipykernel_77736/64272720.py:13: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '/wynton/home/sali/mhancock/xray/dev/29_synthetic_native_3/data/pdbs/7mhf_30/0.pdb' has dtype incompatible with float64, please explicitly cast to a compatible dtype first.
  input_df.loc[input_id, col] = cif_df.loc[j, col]

,N,J,cif_0,cif_1,ref_0,ref_1,w_0_0,w_1_0,w_0_1,w_1_1,w_xray,sample_sched_str,start_pdb_file
0,1.0,1.0,/wynton/home/sali/mhancock/xray/dev/29_synthet...,NaN,/wynton/home/sali/mhancock/xray/dev/29_synthet...,NaN,0.510588,0.489412,NaN,NaN,0.50,"step3000,T300,dofA,pdb1,w1,res2",/wynton/home/sali/mhancock/xray/data/pdbs/7mhf...
1,1.0,2.0,/wynton/home/sali/mhancock/xray/dev/29_synthet...,/wynton/home/sali/mhancock/xray/dev/29_synthet...,/wynton/home/sali/mhancock/xray/dev/29_synthet...,/wynton/home/sali/mhancock/xray/dev/29_synthet...,0.510588,0.489412,0.555566,0.444434,0.25,"step3000,T300,dofA,pdb1,w1,res2",/wynton/home/sali/mhancock/xray/data/pdbs/7mhf...
2,1.0,1.0,/wynton/home/sali/mhancock/xray/dev/29_synthet...,NaN,/wynton/home/sali/mhancock/xray/dev/29_synthet...,NaN,0.893325,0.106675,NaN,NaN,0.50,"step3000,T300,dofA,pdb1,w1,res2",/wynton/home/sali/mhancock/xray/data/pdbs/7mhf...
3,1.0,2.0,/wynton/home/sali/mhancock/xray/dev/29_synthet...,/wynton/home/sali/mhancock/xray/dev/29_synthet...,/wynton/home/sali/mhancock/xray/dev/29_synthet...,/wynton/home/sali/mhancock/xray/dev/29_synthet...,0.893325,0.106675,0.739213,0.260787,0.50,"step3000,T300,dofA,pdb1,w1,res2",/wynton/home/sali/mhancock/xray/data/pdbs/7mhf...
4,1.0,1.0,/wynton/home/sali/mhancock/xray/dev/29_synthet...,NaN,/wynton/home/sali/mhancock/xray/dev/29_synthet...,NaN,0.585996,0.414004,NaN,NaN,0.50,"step3000,T300,dofA,pdb1,w1,res2",/wynton/home/sali/mhancock/xray/data/pdbs/7mhf...

In [25]:
input_df.tail()

,N,J,cif_0,cif_1,ref_0,ref_1,w_0_0,w_1_0,w_0_1,w_1_1,w_xray,sample_sched_str,start_pdb_file
35,2.0,2.0,/wynton/home/sali/mhancock/xray/dev/29_synthet...,/wynton/home/sali/mhancock/xray/dev/29_synthet...,/wynton/home/sali/mhancock/xray/dev/29_synthet...,/wynton/home/sali/mhancock/xray/dev/29_synthet...,0.297701,0.702299,0.381031,0.618969,0.5,"step3000,T300,dofA,pdb1,w1,res2",/wynton/home/sali/mhancock/xray/data/pdbs/7mhf...
36,2.0,1.0,/wynton/home/sali/mhancock/xray/dev/29_synthet...,NaN,/wynton/home/sali/mhancock/xray/dev/29_synthet...,NaN,0.642393,0.357607,NaN,NaN,0.5,"step3000,T300,dofA,pdb1,w1,res2",/wynton/home/sali/mhancock/xray/data/pdbs/7mhf...
37,2.0,2.0,/wynton/home/sali/mhancock/xray/dev/29_synthet...,/wynton/home/sali/mhancock/xray/dev/29_synthet...,/wynton/home/sali/mhancock/xray/dev/29_synthet...,/wynton/home/sali/mhancock/xray/dev/29_synthet...,0.642393,0.357607,0.658773,0.341227,0.5,"step3000,T300,dofA,pdb1,w1,res2",/wynton/home/sali/mhancock/xray/data/pdbs/7mhf...
38,2.0,1.0,/wynton/home/sali/mhancock/xray/dev/29_synthet...,NaN,/wynton/home/sali/mhancock/xray/dev/29_synthet...,NaN,0.157278,0.842722,NaN,NaN,0.5,"step3000,T300,dofA,pdb1,w1,res2",/wynton/home/sali/mhancock/xray/data/pdbs/7mhf...
39,2.0,2.0,/wynton/home/sali/mhancock/xray/dev/29_synthet...,/wynton/home/sali/mhancock/xray/dev/29_synthet...,/wynton/home/sali/mhancock/xray/dev/29_synthet...,/wynton/home/sali/mhancock/xray/dev/29_synthet...,0.157278,0.842722,0.175792,0.824208,0.5,"step3000,T300,dofA,pdb1,w1,res2",/wynton/home/sali/mhancock/xray/data/pdbs/7mhf...

In [26]:
input_df.to_csv(Path(Path.home(), "Documents/xray/sample_bench/data/params/bench.csv"))