In [7]:
import pandas as pd
from pathlib import Path

In [8]:
exp_name = "180_wxray_bench_ref_10000"
wxray_df = pd.read_csv(Path(Path.home(), "Documents/xray/sample_bench/data/7mhf/{}/w_xray.csv".format(exp_name)), index_col=0)
wxray_df.head()

,state_id,job_id,w_xray_id,field,w_0_0,r_free_0,ff,pdb,r_free_1,w_1_0
0,0.0,0.0,0.0,0.455446,1.0,0.455446,1104.068258,/wynton/group/sali/mhancock/xray/sample_bench/...,NaN,NaN
1,0.0,0.0,1.0,0.432351,1.0,0.432351,739.143128,/wynton/group/sali/mhancock/xray/sample_bench/...,NaN,NaN
2,0.0,0.0,2.0,0.388135,1.0,0.388135,1024.456112,/wynton/group/sali/mhancock/xray/sample_bench/...,NaN,NaN
3,0.0,0.0,3.0,0.354612,1.0,0.354612,1131.127470,/wynton/group/sali/mhancock/xray/sample_bench/...,NaN,NaN
4,0.0,0.0,4.0,0.349222,1.0,0.349222,2077.097918,/wynton/group/sali/mhancock/xray/sample_bench/...,NaN,NaN

In [9]:
w_xrays = [0.03125, 0.0625, .125, .25, .5, 1, 2, 4, 8, 16, 32]
n_states = [1, 2, 4, 8, 16]
job_ids = list(range(20))

In [10]:
wxray_filt_df = wxray_df.loc[wxray_df["ff"] < 100000]
# wxray_filt_df = wxray_df

min_idx = wxray_filt_df.groupby(['state_id', 'job_id'])['field'].idxmin()

best_wxray_df = wxray_filt_df.loc[min_idx]
best_wxray_df['w_xray'] = best_wxray_df['w_xray_id'].map(lambda x: w_xrays[int(x)])
best_wxray_df["N"] = best_wxray_df['state_id'].map(lambda x: n_states[int(x)])

best_wxray_df.head()

,state_id,job_id,w_xray_id,field,w_0_0,r_free_0,ff,pdb,r_free_1,w_1_0,w_xray,N
4,0.0,0.0,4.0,0.349222,1.0,0.349222,2077.097918,/wynton/group/sali/mhancock/xray/sample_bench/...,NaN,NaN,0.5,1
15,0.0,1.0,4.0,0.298680,1.0,0.298680,7476.601991,/wynton/group/sali/mhancock/xray/sample_bench/...,0.281482,NaN,0.5,1
26,0.0,2.0,4.0,0.223237,1.0,0.223237,2574.947086,/wynton/group/sali/mhancock/xray/sample_bench/...,NaN,NaN,0.5,1
37,0.0,3.0,4.0,0.197133,1.0,0.197133,7778.919057,/wynton/group/sali/mhancock/xray/sample_bench/...,0.225649,NaN,0.5,1
48,0.0,4.0,4.0,0.323939,1.0,0.323939,1713.351627,/wynton/group/sali/mhancock/xray/sample_bench/...,NaN,NaN,0.5,1

In [11]:
best_wxray_df.tail()

,state_id,job_id,w_xray_id,field,w_0_0,r_free_0,ff,pdb,r_free_1,w_1_0,w_xray,N
389,1.0,15.0,4.0,0.208460,0.373044,0.208460,17574.169702,/wynton/group/sali/mhancock/xray/sample_bench/...,0.203660,0.626956,0.5,2
401,1.0,16.0,5.0,0.262766,0.513247,0.262766,14803.869496,/wynton/group/sali/mhancock/xray/sample_bench/...,NaN,0.486753,1.0,2
411,1.0,17.0,4.0,0.217293,0.430314,0.217293,17772.945696,/wynton/group/sali/mhancock/xray/sample_bench/...,0.208846,0.569686,0.5,2
422,1.0,18.0,4.0,0.202268,0.917002,0.202268,12620.734035,/wynton/group/sali/mhancock/xray/sample_bench/...,NaN,0.082998,0.5,2
433,1.0,19.0,4.0,0.188544,0.413408,0.188544,12460.788442,/wynton/group/sali/mhancock/xray/sample_bench/...,0.191744,0.586592,0.5,2

In [12]:
best_wxray_df.to_csv(Path(Path.home(), "Documents/xray/sample_bench/data/7mhf/{}/best_wxray.csv".format(exp_name)))

In [42]:
for state_id in range(len(n_states)):
    for job_id in job_ids:
        w_xray_N_J = wxray_df.loc[(wxray_df["state_id"] == state_id) & (wxray_df["job_id"] == job_id)]
        w_xray_N_J_filt = w_xray_N_J.loc[w_xray_N_J["ff"] < 100000]

        w_xray_N_J_min_ff = w_xray_N_J_filt.loc[w_xray_N_J_filt["field"].idxmin()]["ff"]
        w_xray_N_J_min_wxray = w_xrays[int(w_xray_N_J_filt.loc[w_xray_N_J_filt["field"].idxmin()]["w_xray_id"])]

        print(state_id, job_id, len(w_xray_N_J), len(w_xray_N_J_filt), w_xray_N_J_min_wxray)

0 0 11 11 0.5
0 1 11 11 0.5
0 2 11 11 0.25
0 3 11 11 0.5
0 4 11 11 0.25
0 5 11 11 0.25
0 6 11 11 0.5
0 7 11 11 0.5
0 8 11 11 0.5
0 9 11 11 0.5
0 10 11 11 0.5
0 11 11 11 0.5
0 12 11 11 0.5
0 13 11 11 0.5
0 14 11 11 0.5
0 15 11 11 1
0 16 11 11 1
0 17 11 11 1
0 18 11 11 1
0 19 11 11 1
0 20 11 11 1
0 21 11 11 0.5
0 22 11 11 0.5
0 23 11 11 0.5
0 24 11 11 0.5
0 25 11 11 1
0 26 11 11 1
0 27 11 11 0.25
0 28 11 11 1
0 29 11 11 0.5
0 30 11 11 0.5
0 31 11 11 1
0 32 11 11 0.5
0 33 11 11 0.5
0 34 11 11 0.25
0 35 11 11 0.5
0 36 11 11 0.5
0 37 11 11 1
0 38 11 11 1
0 39 11 11 1
0 40 11 11 1
0 41 11 11 0.5
0 42 11 11 0.5
0 43 11 11 0.5
0 44 11 11 0.5
0 45 11 11 0.5
0 46 11 11 0.25
0 47 11 11 1
0 48 11 11 1
0 49 11 11 1
0 50 11 11 1
0 51 11 11 1
0 52 11 11 1
0 53 11 11 1
0 54 11 11 0.5
0 55 11 11 1
0 56 11 11 0.5
0 57 11 11 0.5
0 58 11 11 0.5
0 59 11 11 0.5
0 60 11 11 1
0 61 11 11 1
0 62 11 11 0.5
1 0 11 11 0.5
1 1 11 11 0.5
1 2 11 10 0.5
1 3 11 11 0.5
1 4 11 9 0.5
1 5 11 11 0.25
1 6 11 11 0.5
1 7 11 7 0.5
1 8 11 10 0.5
1 9 11 7 0.25
1 10 11 7 0.5
1 11 11 7 0.25
1 12 11 9 0.5
1 13 11 7 0.5
1 14 11 7 0.5
1 15 11 10 1
1 16 11 7 1
1 17 11 8 1
1 18 11 7 1
1 19 11 8 1
1 20 11 7 0.5
1 21 11 7 0.5
1 22 11 7 0.5
1 23 11 7 0.5
1 24 11 7 0.5
1 25 11 7 1
1 26 11 6 1
1 27 11 7 0.5
1 28 11 7 1
1 29 11 7 0.5
1 30 11 6 0.5
1 31 11 7 1
1 32 11 7 1
1 33 11 7 0.5
1 34 11 7 1
1 35 11 7 0.5
1 36 11 7 0.5
1 37 11 7 1
1 38 11 8 1
1 39 11 7 1
1 40 11 7 1
1 41 11 6 0.5
1 42 11 6 0.5
1 43 11 7 0.5
1 44 11 7 0.5
1 45 11 7 0.5
1 46 11 6 0.25
1 47 11 7 1
1 48 11 7 1
1 49 11 6 0.5
1 50 11 6 1
1 51 11 6 1
1 52 11 6 0.5
1 53 11 6 0.5
1 54 11 6 0.5
1 55 11 6 0.5
1 56 11 6 0.5
1 57 11 6 0.5
1 58 11 5 0.5
1 59 11 6 0.25
1 60 11 6 0.5
1 61 11 5 0.5
1 62 11 5 0.5
2 0 11 7 0.5
2 1 11 7 1
2 2 11 7 0.5
2 3 11 7 0.25
2 4 11 7 0.5
2 5 11 7 0.5
2 6 11 6 1
2 7 11 6 0.5
2 8 11 6 0.5
2 9 11 6 0.5
2 10 11 6 0.5
2 11 11 6 0.5
2 12 11 6 0.5
2 13 11 6 0.5
2 14 11 6 0.5
2 15 11 6 1
2 16 11 6 1
2 17 11 6 1
2 18 11 6 1
2 19 11 6 1
2 20 11 6 1
2 21 11 6 0.5
2 22 11 6 0.5
2 23 11 6 0.5
2 24 11 6 0.5
2 25 11 5 0.5
2 26 11 5 0.5
2 27 11 5 0.5
2 28 11 5 0.5
2 29 11 5 0.5
2 30 11 5 0.5
2 31 11 5 0.5
2 32 11 5 0.5
2 33 11 5 0.5
2 34 11 5 0.5
2 35 11 5 0.5
2 36 11 6 0.5
2 37 11 5 0.5
2 38 11 5 0.5
2 39 11 5 0.5
2 40 11 5 0.5
2 41 11 5 0.5
2 42 11 5 0.5
2 43 11 5 0.5
2 44 11 5 0.5
2 45 11 5 0.5
2 46 11 5 0.5
2 47 11 5 0.5
2 48 11 5 0.5
2 49 11 5 0.5
2 50 11 5 0.5
2 51 11 5 0.5
2 52 11 5 0.5
2 53 11 5 0.5
2 54 11 5 0.5
2 55 11 5 0.5
2 56 11 5 0.5
2 57 11 5 0.5
2 58 11 5 0.5
2 59 11 5 0.5
2 60 11 5 0.5
2 61 11 5 0.5
2 62 11 5 0.5
3 0 11 6 1
3 1 11 6 1
3 2 11 6 0.5
3 3 11 6 1
3 4 11 6 0.5
3 5 11 6 0.5
3 6 11 6 1
3 7 11 6 0.5
3 8 11 6 0.5
3 9 11 6 0.5
3 10 11 6 0.5
3 11 11 6 0.5
3 12 11 6 0.5
3 13 11 6 0.5
3 14 11 6 0.5
3 15 11 6 1
3 16 11 6 1
3 17 11 6 1
3 18 11 6 1
3 19 11 6 1
3 20 11 5 0.5
3 21 11 5 0.5
3 22 11 5 0.5
3 23 11 5 0.5
3 24 11 5 0.5
3 25 11 5 0.5
3 26 11 5 0.5
3 27 11 5 0.5
3 28 11 5 0.5
3 29 11 5 0.5
3 30 11 5 0.5
3 31 11 5 0.5
3 32 11 5 0.5
3 33 11 5 0.5
3 34 11 5 0.5
3 35 11 5 0.5
3 36 11 5 0.5
3 37 11 5 0.5
3 38 11 5 0.5
3 39 11 5 0.5
3 40 11 5 0.5
3 41 11 5 0.5
3 42 11 5 0.5
3 43 11 5 0.5
3 44 11 5 0.5
3 45 11 5 0.5
3 46 11 5 0.5
3 47 11 5 0.5
3 48 11 5 0.5
3 49 11 5 0.5
3 50 11 5 0.5
3 51 11 5 0.5
3 52 11 5 0.5
3 53 11 5 0.5
3 54 11 5 0.5
3 55 11 5 0.5
3 56 11 5 0.5
3 57 11 5 0.5
3 58 11 5 0.5
3 59 11 5 0.5
3 60 11 5 0.5
3 61 11 5 0.5
3 62 11 5 0.5
4 0 11 6 1
4 1 11 6 1
4 2 11 5 0.5
4 3 11 5 0.5
4 4 11 5 0.5
4 5 11 5 0.5
4 6 11 5 0.5
4 7 11 5 0.5
4 8 11 5 0.5
4 9 11 5 0.5
4 10 11 5 0.5
4 11 11 5 0.5
4 12 11 5 0.5
4 13 11 5 0.5
4 14 11 5 0.5
4 15 11 5 0.5
4 16 11 5 0.5
4 17 11 5 0.5
4 18 11 5 0.5
4 19 11 5 0.5
4 20 11 5 0.5
4 21 11 5 0.5
4 22 11 5 0.5
4 23 11 5 0.5
4 24 11 5 0.5
4 25 11 5 0.5
4 26 11 5 0.5
4 27 11 5 0.5
4 28 11 5 0.5
4 29 11 5 0.5
4 30 11 5 0.5
4 31 11 5 0.5
4 32 11 5 0.5
4 33 11 5 0.5
4 34 11 5 0.5
4 35 11 5 0.5
4 36 11 5 0.5
4 37 11 5 0.5
4 38 11 4 0.25
4 39 11 4 0.25
4 40 11 5 0.5
4 41 11 4 0.25
4 42 11 4 0.25
4 43 11 4 0.25
4 44 11 4 0.25
4 45 11 4 0.25
4 46 11 4 0.25
4 47 11 4 0.25
4 48 11 4 0.25
4 49 11 4 0.25
4 50 11 4 0.25
4 51 11 4 0.25
4 52 11 4 0.25
4 53 11 4 0.25
4 54 11 4 0.25
4 55 11 4 0.25
4 56 11 4 0.25
4 57 11 4 0.25
4 58 11 4 0.25
4 59 11 4 0.25
4 60 11 4 0.25
4 61 11 4 0.25
4 62 11 4 0.25