In [2]:
import pandas as pd
from pathlib import Path

In [21]:
data_dir = Path(Path.home(), "Documents/xray/sample_bench/data/7mhf")
mapper_df = pd.read_csv(Path(Path.home(), "Documents/xray/dev/35_cif_combos/data/7mhf.csv"), index_col=0)

analysis_dfs = list()
for dir_name in ["166_N1", "167_N2", "168_N4", "169_N8"]:
    analysis_file = Path(data_dir, dir_name, "ref_15.csv")
    analysis_df = pd.read_csv(analysis_file, index_col=0)
    analysis_df["N"] = int(dir_name.split("_")[1][1:])
    analysis_df["J"] = analysis_df.apply(lambda row: len(mapper_df.iloc[row["job_id"]]["cifs"].split(",")), axis=1)
    analysis_dfs.append(analysis_df)

analysis_df = pd.concat(analysis_dfs)
analysis_df = analysis_df.dropna(axis=0, subset="r_free")
analysis_df = analysis_df.reset_index()
print(len(analysis_df))
analysis_df.head()

76798

,index,job_id,cif_name,w_0,pdb,r_free,ff,N,J,w_1,w_2,w_3,w_4,w_5,w_6,w_7
0,0,0,7mhf,1.0,/wynton/group/sali/mhancock/xray/sample_bench/...,0.356502,621.926362,1,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1,0,7mhf,1.0,/wynton/group/sali/mhancock/xray/sample_bench/...,0.353581,597.819673,1,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2,0,7mhf,1.0,/wynton/group/sali/mhancock/xray/sample_bench/...,0.349175,567.563444,1,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,3,0,7mhf,1.0,/wynton/group/sali/mhancock/xray/sample_bench/...,0.352123,438.141353,1,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,4,0,7mhf,1.0,/wynton/group/sali/mhancock/xray/sample_bench/...,0.357600,611.524850,1,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [22]:
analysis_df.tail()

,index,job_id,cif_name,w_0,pdb,r_free,ff,N,J,w_1,w_2,w_3,w_4,w_5,w_6,w_7
76793,19195,62,7mhk,0.092126,/wynton/group/sali/mhancock/xray/sample_bench/...,0.267502,13513.634059,8,6,0.187216,0.139008,0.063329,0.108436,0.178070,0.082499,0.149316
76794,19196,62,7mhk,0.136425,/wynton/group/sali/mhancock/xray/sample_bench/...,0.252613,11213.350293,8,6,0.120422,0.169543,0.069971,0.143970,0.100242,0.067884,0.191544
76795,19197,62,7mhk,0.114247,/wynton/group/sali/mhancock/xray/sample_bench/...,0.272353,12444.041222,8,6,0.071232,0.189275,0.062950,0.196699,0.156891,0.056207,0.152498
76796,19198,62,7mhk,0.114247,/wynton/group/sali/mhancock/xray/sample_bench/...,0.276021,10737.582527,8,6,0.071232,0.189275,0.062950,0.196699,0.156891,0.056207,0.152498
76797,19199,62,7mhk,0.134307,/wynton/group/sali/mhancock/xray/sample_bench/...,0.272895,13717.169419,8,6,0.160974,0.142787,0.084718,0.170253,0.121702,0.077768,0.107492

In [23]:
analysis_df.to_csv(Path(Path.home(), "Documents/xray/sample_bench/data/7mhf/166_N1/ref_15_merge.csv"))